*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
	
}
.container{
	border:1px solid #ccc;
	border-radius: 20px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
}
.screen{
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size:3rem;
	height: 80px;
background-color: transparent;
color:white;
padding-right: 20px;
padding-left: 10px;
}
button{
	height: 60px;
	border-radius:20px;
	border:1px solid white;
	background-color: rgba(0,0,0,0.3);
	font-size: 2rem;
	color:#f8f8f8;
	&:hover{
		background-color: rgba(255,255,255,0.4);

	}
	&:active{
		background-color: rgba(186,186,186,0.4);

	}
}
.all-clear{
	background-color: rgba(241,115,119,0.4);

}
.equal-sign{
	height: 100%;
}
.keys{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap:1px;
	
	button{
		width: 20%;
		
	}

}